<div class="row">
<h1>Actions</h1>

<table>
<tr>
    <th>Type</th>
    <th>Price</th>
    <th>When</th>
    
    
</tr>
  {{#each actions}}
  <tr>
      <td>{{type}}</td>
      <td>{{cost}}</td>
      <td>{{time}}</td>
  </tr>
  {{/each}}
</table>
</div>